/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

  
@font-face {
    font-family: VCR;
    src: url("/VCR-OSD-Mono.tff");
    font-display: swap;
}
